@font-face {
    font-family: 'Whitney SSm Book';
    src: url('WhitneySSm-Book.eot');
    src: url('WhitneySSm-Book.eot?#iefix') format('embedded-opentype'),
        url('WhitneySSm-Book.woff') format('woff'),
        url('WhitneySSm-Book.ttf') format('truetype'),
        url('WhitneySSm-Book.svg#WhitneySSm-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('PTSans-Regular.eot');
    src: url('PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('PTSans-Regular.woff') format('woff'),
        url('PTSans-Regular.ttf') format('truetype'),
        url('PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('FontAwesome.eot');
    src: url('FontAwesome.eot?#iefix') format('embedded-opentype'),
        url('FontAwesome.woff') format('woff'),
        url('FontAwesome.ttf') format('truetype'),
        url('FontAwesome.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

